/*
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }
        h1, h2, h3 {
            color: #333;
        }
        section {
            margin-bottom: 30px;
        }
        .cta-button {
            display: inline-block;
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }*/
    
        /* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #6a0dad;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2, h3 {
    color: #6a0dad;
}

section {
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: #6a0dad;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


.logo {
    width: 100px; /* ajusta el tamaño del logo según sea necesario */
    height: auto; /* mantiene la proporción de aspecto */
    margin-bottom: 10px; /* añade un pequeño espacio entre el logo y el texto */
   
}
